/* General */
html {
    scroll-behavior: smooth;
  }

* {
    margin:0;
padding: 0;
}

.fstyle{
  font-family: 'Space Mono', monospace;
}
body{
    background-color:  rgb(0,0,33);
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    background-color:rgb(3, 3, 52) ;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li a{
    
    text-decoration: none;
    color:white ;
    margin: 0 40px;
}
nav ul li a:hover{
    color: rgb(249, 139, 240);
    font-size: 1.02rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}
.firstSection > div{
    width: 30%;
    
}
.leftSection{
    font-size: 3rem;
    margin: 80px 0;  
}

.leftSection .btn{
     padding: 12px;
     background-color: rgb(3, 3, 49);
     color: white;
     border: 2px solid white;
     border-radius: 6px;
     font-size: 20px;
     cursor: pointer;
     
    }

.rightSection img{
    width: 90%;
    margin: 40px 0;
    
    
}
.purple{
    color: rgb(249, 139, 240)
}

#element{
    color:rgb(249, 139, 240) ;
}

.text-container {
  text-align: justify;
  
}



/* ------------------------------------------------------------ */
.icon {
    cursor: pointer;
    height: 2rem;
  }
/* SECTIONS */
.section-container {
    display: flex;
  }

.section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
.section-container {
    display: flex;
  }
  
  /* PROFILE SECTION */
.about-details-container {
    justify-content: center;
    flex-direction: column;
  }
.about-containers,
.about-details-container {
  display: flex;
}
.about-pic {
    border-radius: 2rem;
  }
  .about-pic {
    border-radius: 2rem;
  }
  
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }
  

  
.section__text {
    align-self: center;
    text-align: center;
  }
  
.section__text p {
    font-weight: 600;
  }
  
.section__text__p1 {
    text-align: center;
  }
  
.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  
.title {
    font-size: 3rem;
    text-align: center;
    color:rgb(0, 255, 0) ;
  }
  
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }

/* ABOUT SECTION */

#about {
  background-color: red;
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  
  padding: 1.5rem;
  flex: 1;
  background: rgb(0,0,33);
  border-radius: 2rem;
  border: rgb(255, 255, 255) 0.1rem solid;
  border-color: rgb(255, 255, 255);
  text-align: left;
}

.section-container {
  gap: 4rem;
  height: 80%;
}


.section__pic-container{
  display: flex;
  height: 400px;
  width: 400px;
  margin: 80px 0;
  padding: 80px ;
  
}

  



.helloworld{
  display: flex;
  background-color: rgb(0,0,33);
  border-color: white;
  border: white 0.1rem solid;
  border-radius: 2rem;
  height: 400px;
  width: 400px;
  margin: 80px 0;
  padding: 10px ;
  border-radius: 2rem;
  position:relative; left: 150px;
  
  

}



.textcolor{
  color:rgb(0, 255, 0);
}

.quote{
  padding: 1.5rem;
  flex: 1;
  background: rgb(0,0,33);
  border-radius: 2rem;
  border: rgb(255, 255, 255) 0.1rem solid;
  border-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.09rem;
  
}.abtxt{
  display: flex;
  background-color: rgb(0,0,33);
  border-color: white;
  border: white 0.1rem solid;
  border-radius: 2rem;
  height: 400px;
  width: 400px;
  margin: 80px 0;
  padding: 10px ;
  border-radius: 2rem;
  position:relative; left: 150px;
}


